.game-item{ 
	list-style: none;
}

.actualGames .game-box{
	 height: 300px; 
}
.archiveGames .game-box{
	 height: 200px; 
}

.game-box{ 
    background:  50% 0 fixed;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	

}

.game-content{ 
	opacity:0;
	background: rgba(0, 0, 0, 0.85);
	height: 100%;
    width: 100%;
	padding: 20px;
}

.game-content:hover{ 
	visibility:visible;
	opacity:1;
	
	-webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.game-text{ 
	text-align: center;
	height: 100%;
}

.game-text .jumbotron{ 
  padding: 20px;
  //background-color: rgb(115, 50, 130);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: white;
  width: 60%;
  margin: 0;
  border-radius: 5px;
}

.game-text .jumbotron p{ 
	font-size: 14px;
	margin:0;
 }
 .game-text .jumbotron h2{ 
	font-size: 22px;
	margin:0;
	margin-bottom: 20px;
 }

.game-button{ 
	padding: 20px;
	text-align: center;
	height: 100%;
}

.game-button a{ 
  //background-color: rgb(115, 50, 130);
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: none;
}

@media (max-width: 768px) {
	.game-box{ 
		background:  50% 50% scroll;  
	 }
}