/* ______________________________ général ___________________________________*/
body {
	margin-top:165px;  /* taille header */
	font-family: 'Open Sans', sans-serif;
	//padding-bottom: 0px;
	//color: #5a5a5a;
}

.section-highlight {
	font-size:24px;
	color:#3b76da;
	//font-family: 'Nova Square', cursive;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
}
.section-heading {
	text-transform:uppercase;
	font-size: 40px;
	color: rgb(86, 84, 84);
	font-weight: bold;
	text-align: center;
}

.section {
	clear:both;
	padding-top:60px;
	margin-bottom:180px;
}
.alert {
	margin-bottom:0;
	margin-top:15px;
}

h4 {
	color:#3b76da;
	font-weight:bold;
}

p { 
	text-align:justify;
}

.marketing {
	//padding-right: 15px;
	//padding-left: 15px;
	padding-right: 0;
	padding-left: 0;
}

.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}
.marketing h2 {
	//font-weight: normal;
	text-align:center;
}
.marketing h3 {
	font-family: 'Nova Square', cursive;
	color:#983794;
}
.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}

.container-services {
	padding:60px 0;
	margin-bottom:0;
}

.row {
	margin: 0;
}
.flex-center {
	display: flex;
    display: -webkit-flex;
    align-items: center;
}

.credits {
	margin-top:-100px;
	color:white;
	float: right;
	font-size: 12px;
	text-shadow: 1px 1px black;
	padding: 10px;
}
.table{
	font-size:17px;
}
/* ______________________________ couleurs sports___________________________________*/
.bcr-foot{
    background-color: #96ff00!important;
}
.cr-foot{
    color: #96ff00!important;
}
.bcr-rugby{
    background-color: #2EA448!important;
}
.cr-rugby{
    color: #2EA448!important;
}
.bcr-cyclisme{
    background-color: #f0da00!important;
}
.cr-cyclisme{
    color: #f0da00!important;
}
.bcr-ski{
    background-color: #0095f0!important;
}
.cr-ski{
    color: #0095f0!important;
}
.bcr-biathlon{
    background-color: #ef3afb!important;
}
.cr-biathlon{
    color: #ef3afb!important;
}

.player-name{
    margin-right: 20px;
}
.player-badge{
    margin-right: -10px;
    width: 24px;
    //height: 24px;
    display: inline-block;
    color: transparent;
	background-repeat: no-repeat;
	cursor: default;
}
.player-badge:hover{
    -ms-transform: translate(-10px); /* IE 9 */
   	-webkit-transform: translate(-10px); /* Safari */
    transform: translateY(-10px);
	transition: 0.5s ease
	
}
.b-football-gold{
    background-image: url(../img/static/badges/b_football_gold_24.png);
}
.b-football-silver{
    background-image: url(../img/static/badges/b_football_silver_24.png);
}
.b-football-bronze{
    background-image: url(../img/static/badges/b_football_bronze_24.png);
}
.b-rugby-gold{
    background-image: url(../img/static/badges/b_rugby_gold_24.png);
}
.b-rugby-silver{
    background-image: url(../img/static/badges/b_rugby_silver_24.png);
}
.b-rugby-bronze{
    background-image: url(../img/static/badges/b_rugby_bronze_24.png);
}
.b-ski-gold{
    background-image: url(../img/static/badges/b_ski_gold_24.png);
}
.b-ski-silver{
    background-image: url(../img/static/badges/b_ski_silver_24.png);
}
.b-ski-bronze{
    background-image: url(../img/static/badges/b_ski_bronze_24.png);
}
.b-cyclisme-gold{
    background-image: url(../img/static/badges/b_cyclisme_gold_24.png);
}
.b-cyclisme-silver{
    background-image: url(../img/static/badges/b_cyclisme_silver_24.png);
}
.b-cyclisme-bronze{
    background-image: url(../img/static/badges/b_cyclisme_bronze_24.png);
}

/* ______________________________ modal panel ___________________________________*/
#dataConfirmModal{

}
.modal-dialog{
	z-index: 2000;
}
.modal-content{

}
.modal-header{

}
.modal-body{

}
.modal-footer{

}

/*** social links ****/
ul.social li {
	list-style:none;
	margin:5px;
	padding:0;
	width:50px;
	height:50px;
	display:inline;
	//float:left;
}
ul.social {
list-style:none;
padding:0;
//margin-right:20px;
}
ul.social li a {
	
}

ul.social li img {
	width:50px;
	height:50px;
}
/* .googleplus {
	background:transparent url(../img/googleplus.png) no-repeat top left;
}

.facebook {
	background:transparent url(../img/static/facebook_32.png) no-repeat top left;
}
.youtube {
	background:transparent url(../img/youtube.png) no-repeat top left;
}
.linkedIn {
	background:transparent url(../img/linkedin.png) no-repeat top left;
} 
.twitter {
	background:transparent url(../img/static/twitter_32.png) no-repeat top left;
}*/

/* ______________________________ header ___________________________________*/
header {
	background:black;
	 height: 165px;
	 position: fixed;
    top: 0;
    left: 0;
	z-index:1500;
	width: 100%;
	//overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

header.small {
    height: 57px;
	//overflow:hidden;
}

.logosmall { /* logo dans la barre de menu repliée */
	width:39px;
	height:39px;
	position:absolute;
	left:0;
	top:10px;
	background:transparent url(../img/logos/logo_small2.png) no-repeat top left !important;
	opacity:0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	transition: opacity 0.5s;
	padding:15px 0;
}


#header-bottom  .container,#header-top  .container{
	padding:0;
}

header.small .logosmall {
	opacity:1;
}
#header-top > .container {
	position:relative;

}
#header-top{
	height:98px;
	-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
	

}

header.small #header-top {
	height:0;
}

#header-bottom {
	background:#eff0f1;
	border-top:10px solid #b1b2b3; /* bordure */
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	z-index:100000;
	width: 100%;
	position:relative;
}

header.small #header-bottom {
	border-top:0;
}

#header-bottom .navbar  {
	background:transparent;
	border:0px;
	margin-bottom:0;
}
#header-bottom  ul.nav{
	float:right;
}
#header-bottom  .nav>li>a{
	padding:15px 30px;
	font-size:18px;
	color:black;
	line-height:27px;
}
#header-bottom  .nav>li>a:hover {
	color:#2a6496;
}
#header-bottom  .nav>li.active>a {
	background:#808285;
	color:white;
}
#header-bottom  .nav>.home>a{
	font-size:25px;
	color:black;
	top:0;
}
#header-bottom  .nav>.home>a>span{
	display: none;
	padding:15px 30px;
	font-size:18px;
	color:black;
	line-height:27px;
	font-family: 'Open Sans', sans-serif;
}

#header-bottom  .nav>li#logosmall.active>a {
	background:transparent;

}
#header-top h1 { /* logo header déplié */
	//text-indent:-99999px;
	width:160px;
	height:78px;
	padding:0;
	margin:0;
	margin-top:10px;
	background:transparent url(../img/logos/logo.png) no-repeat top left;
	background-size: 160px 78px;
	-webkit-transition: opacity 0.5s;
	   -moz-transition: opacity 0.5s;
		    transition: opacity 0.5s;
	opacity:1;
}
#header-top h1 a{ 
	opacity:0;
}
header.small #header-top h1 {
	opacity:0;
}

#header-bottom input[type=text], input[type=password]{
	padding: 4px 6px;
	margin-bottom: 10px;
}


header.small #header-top ul.social {
display:none;
}
#header-top ul.social {
position:absolute;
top:20px;
right:0;
}

.navbar-toggle {
background: #333;
}
.navbar-toggle .icon-bar ,.navbar-default .navbar-toggle .icon-bar {
background: #FFF;
}

.navbar-wrapper {
  /*position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;*/
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

ul.nav.nav-pills{
	position:absolute;
	margin-left:90px;
	width:50%;
}

#changePassword .alert{
	max-width: 174px;
	overflow: hidden;
}
#lostPassword .alert{
	max-width: 175px;
	overflow: hidden;
}

/* ______________________________ articles ___________________________________*/
#news-section {
	margin-top:165px;
	margin-bottom: 50px;
}


.list-articles{
	padding: 0;
}

.list-articles>li{
	display: inline;
}
.list-articles-item {
	padding:10px;
	z-index:10;
	border:0;
	margin-bottom: 0px;
}

.list-articles-item img{
	width: 100%;
	//float: left;
	z-index:-10;
	top: -20px;
	position:relative;
}
.list-articles-item p{
	font-size: 14px;
	text-align: right;	
}
.list-articles-item h4{
	color:black;
}

.badge {
	border-radius:0 0 0 5px;
	//background-color:rgb(115, 50, 130);
	font-size: 14px;
	float:right;
}

.list-group-item-heading {
 // min-height: 38px;
  text-align: center;
}

.list-group-item:hover, .list-group-item:focus {
  cursor: pointer;
  background-color: #f5f5f5;
}
.list-group-item a{
  text-decoration: none;
  position: relative;
  display: block;
}

#pagination {
	text-align: center;
}
.pagination>li>a{
	background-color: grey;
	color:white;
	cursor: pointer;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 2;
  color: #fff;
  background-color: rgb(115, 50, 130);
  border-color: rgb(115, 50, 130);
  cursor: default;
}
 
 .pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
  color: grey;
  background-color: lightgrey;
  border-color: #fff;
  cursor: not-allowed;
}

/* ______________________________ jeux ___________________________________*/

/* ______________________________ inscription ___________________________________*/
#inscription {
	background:#b1b2b3;
	color: white;
}

/* ______________________________ about us ___________________________________*/

.row-illustration img {
	margin-top:20px;
	margin-bottom:10px;
}

/* ______________________________ contact ___________________________________*/

.section-contact {
	background:#747576;
	padding:60px 0;
	margin-bottom:0;
	color: white;
}
.section-contact .section-heading {
	color: white;
}
.section-contact .section-highlight {
	//color:#ee4033;
	color: #E8836A;
}

.contact-form {
	margin-top:20px;
}
.contact-form  input,textarea{
margin-bottom:20px;

}
.form-control {
height:40px;
resize : vertical;
}

.contact-address{
	text-align: center;
}
p.address {
	text-align: center;
	font-size:22px;
	font-weight : bold;
}

/* ______________________________ footer ___________________________________*/

footer {
background:black;
color:white;

}
footer .container {
padding:20px 0;
}
footer  p {
	text-align: center;
}

/* ______________________________ my config ___________________________________*/

.section-config {
	background:#F5F5F5;
	padding:60px 0;
	margin-bottom:0;
	color: black;
}

.inter-section-highlight {
	font-size:20px;
	color:black;
	//font-family: 'Nova Square', cursive;
	margin-top:20px;
	margin-bottom:20px;
	text-align:left;
	font-style: italic;
}

.private-info{
	font-size: 1.8em;
	color: rgb(86, 84, 84);
	display: inline-block;
	padding-left: 30px;
}

#playerInfo-form, #mail-games-form, #race-inscriptions-form{
	text-align: center;
}

.panelIcon {
   position: relative;
   margin: 10px;
   float: right; 
}

.overlay {  
	background:rgba(0, 0, 0, .75);
	text-align:center;
	opacity:0;    
	color:white;
	z-index: 2;
	width:100%;height:100%; 
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.avatar:hover {
	border:10px solid #555;
	border-radius:5px;
}
.avatar:hover .overlay {
	opacity:1;
}

.lblIcon {
	width: 50px;
	margin : 0;
	cursor : default;
}
.overlayImage {  
	height: 24px;
	width: 24px;
}

.upload {
	line-height: 30px;
	margin-left: 0px;
	width: 50px;
	visibility: hidden;
	display:none!important;
}
.avatar {
	border: 10px solid #d0d0d0;
	float: left;
	height: 100px;
	margin-left: 10px;
	width: 100px;
	text-align: center;
	line-height: 80px;
	border-radius:5px;
	background-size: cover;
}

.toggle-list{
	padding : 0;
	max-height: 350px;
    overflow: auto;
    overflow-x: hidden;
}

.toggle-box{
	list-style : none;
	padding: 15px;
    margin: 15px 2px;
    //background-color: rgba(107, 129, 149, 0.8);
	box-shadow: #656565 0px 0px 5px 0px;
}

#mail-games .toggle-box{
   background-color: rgba(107, 129, 149, 0.8);
}
#race-inscriptions .toggle-box{
   background-color: rgba(172, 84, 96, 0.8);
}

#mail-games .toggle-box:hover{
   background-color: rgba(107, 129, 149, 0.4);
}

#race-inscriptions .toggle-box:hover{
   background-color: rgba(172, 84, 96, 0.4);
}

#mail-games p, #race-inscriptions p{
	text-align : left;
}

.toggle-item-name{
	color : white;
}

.toggle-item{
	text-align: center;
}

.toggle-item-name p{
	line-height: 34px;
    margin: 0;
    font-size: 1.2em;
}

#race-inscriptions{
	margin-top : 50px;
}

.toggle-div{
	
}

#logo-pp{
	margin-top: 50px;
	padding : 5px;
}
#logo-pp img{
	width: 100%;
	box-shadow: #656565 0px 0px 10px 0px;
}

/* ______________________________ my dashboard ___________________________________*/

.section-dashboard {
	background:#FFFFFF;
	padding:60px 0;
	margin-bottom:0;
	color: black;
}

/* __________________________________________media________________________________________________*/
@media (min-width: 992px) and  (max-width:1200px) {
	
}

@media (max-width: 1024px) {

	.navbar-nav {
		margin:0;
	}
	.navbar-collapse {
		padding:0;
	}
}

@media (min-width: 992px) {
	.nav>li>a {
		padding:5px 10px;
	}
}

@media (max-width:992px) {
	
	#header-bottom  li a  img{	
		height:16px;	
	}
	#header-bottom  {
		height:auto;
	}
	header {
		height:auto !important;
	}
	
	.row {
		margin-left: 0; 
		margin-right: 0; 
	}
	
	.list-group-item-heading {
	    font-size: 15px;
		margin-top: -5px;
		//min-height: 32px;
		text-align: center;
	}
}

@media (max-width:992px) and (min-width:768px) {
	#header-bottom  .nav>li>a {
		font-size:16px;
		padding: 12px 15px;
	}
	
	.logosmall {
		top: 7px;
	}
}

@media (max-width:970px) {
	#bConnect, #bUsername {
		//display:none;
	}
	
	.logosmall {
		opacity:1 !important;
	}
	
	#header-top {
		display:none;
	}
	
	#news-section {
		margin-top:0;
	}
	
	body {
		margin-top: 60px !important;
	}
}

@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	} 
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
		text-align: center;
	}
	.sidebar-nav .navbar ul {
		float: none;
		margin:0;
	}
	.sidebar-nav .navbar ul:not{
		display: block;
	}
	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}
	.sidebar-nav .navbar li a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	
	/* Remove the edge padding needed for mobile */
	.marketing {
		padding-right: 0;
		padding-left: 0;
	}

	/* Navbar positioning foo */
	.navbar-wrapper {
		/* margin-top: 20px;*/
	}
	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left:  15px;
	}
	.navbar-wrapper .navbar {
		padding-right: 0;
		padding-left:  0;
	}

	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}
}

@media (max-width: 767px) {
	h3 {
		font-size: 18px;
	}
	
	.nav {width:100%;foat:none !important;}
	
	.list-group-item-heading {
	    font-size: 11px;
		margin-top: -10px;
		//min-height: 24px;
		text-align: center;
	}
}

@media (max-width:760px) {
	.navbar-collapse  li {
		display:block;
		width:100%;
	}
	.navbar-collapse  li a{
		display:block;
		width:100%;
		padding:5px;
	}	
	ul.nav.nav-pills{
		margin-left:60px;
	}

	#header-bottom .nav>li>a{
		font-size:14px;
	}
	.section-heading {
		font-size: 30px;
	}
	
	#header-bottom  .nav>.home>a>span{
		display: inline;
		font-size:14px;
	}
	#header-bottom  .nav>.home>a::before{
		vertical-align: middle;
	}
}

@media (max-width: 320px) {

	.list-group-item-heading {
	    font-size: 8px;
		margin-top: -10px;
		//min-height: 18px;
		text-align: center;
	}
	#header-bottom .nav>li>a{
		font-size:12px;
	}
	.section-heading {
		font-size: 28px;
	}
}