@media (min-width: 768px) {
	#calendar{
		max-width:300px;
		margin-right: 0;
		margin-left: 0;
	}

	#calendar .navbar-collapse {
		height: auto;
		border-top: 0;
		box-shadow: none;
		max-height: none;
		padding-left:0;
		padding-right:0;
	}
	
	#calendar .navbar-collapse.collapse {
		display: block !important;
		width: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	
	#calendar .navbar-collapse.in {
		overflow-x: visible;
	}	

	#calendar .navbar-nav, #calendar .navbar-nav > li, #calendar .navbar-left, #calendar .navbar-right, #calendar .navbar-header {
		float:none !important;
	}

	#calendar .navbar-right .dropdown-menu {
		left:0;right:auto;
	}
	
	#calendar .navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
}